
<div style="padding-bottom: 100px">
  <div>
    <nav class="navbar fixed-top navbar-expand-lg">
      <a routerLink="/">
        <img src="\assets\CountyBookLogo2.png" alt="Banner" class="img-fluid">
      </a>
    </nav>
  </div>
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav">

          <li>
            <button class="btn btn-outline-primary m-2"
                    data-bs-toggle="button"
                    routerLink="/member"
                    routerLinkActive="active">
              <i class="bi bi-person-circle"></i> Members
            </button>
          </li>
          <li>
            <button class="btn btn-outline-primary m-2"
                    data-bs-toggle="button"
                    routerLink="/fetch-hour"
                    routerLinkActive="active">
              <i class="bi bi-watch"></i> Hours
            </button>
          </li>
          <li>
            <button class="btn btn-outline-primary m-2"
                    data-bs-toggle="button"
                    routerLink="/search"
                    routerLinkActive="active">
              <i class="bi bi-search"></i> Search
            </button>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>
