<!--<div class="container">
  <form [formGroup]="form">
    <div class="row justify-content-center">

      <div class="col-sm-4">
        <label for="country">Country</label>
        <select id="country" formControlName="country" class="form-select">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label for="state">State</label>
        <select id="state" formControlName="state" class="form-select">
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label for="county">County</label>
        <select id="county" formControlName="county" class="form-select">
          <option *ngFor="let county of counties" [value]="county">{{county}}</option>
        </select>
      </div>

    </div>
  </form>
</div>-->

<div class="row p-3">
  <div class="bg-body container-fluid">
    <div class="col d-flex justify-content-center">
      <div class="col-lg-11 col-md-11 col-sm-11">
        <div class="card">
          <div class="card-body">
            <p class="card-title h5 text-primary">Search Criteria</p>

            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-3 p-3">
                  <label for="country">Country</label>
                  <select id="country" formControlName="country" class="form-select" (change)="getStates(form.controls['country'].value)">
                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                  </select>
                </div>

                <div class="col-sm-3 p-3">
                  <label for="state">State</label>
                  <select id="state" formControlName="state" class="form-select" (change)="getCounties(form.controls['state'].value)">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                </div>

                <div class="col-sm-3 p-3">
                  <label for="county">County</label>
                  <select id="county" formControlName="county" class="form-select">
                    <option *ngFor="let county of counties" [value]="county">{{county}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 p-3">
                  <label for="city">City</label>
                  <input id="city" type="text" class="form-control" formControlName="city">
                </div>

                <div class="col-sm-3 p-3">
                  <label for="postalCode">Postal Code</label>
                  <input id="postalCode" type="text" class="form-control" formControlName="postalCode">
                </div>

                <div class="col-sm-3 p-3">
                  <label for="local">Local</label>
                  <input id="local" type="text" class="form-control" formControlName="local">
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-2">Search</button>
                <button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


