
<div class="container-fluid">
 

  <div class="row p-3">
    <div class="bg-body container-fluid">
      <div class="col d-flex justify-content-center">
        <div class="col-lg-6 col-md-5 col-sm-10">
          <div class="card">
            <div class="ratio ratio-16x9">
              <img src="././../../assets/BacLogoBigColor.png" height="370" width="600" class="card-img-top rounded" alt="BAC " />
            </div>
              <div class="card-body">
                <p class="card-title h5 text-primary">IUBAC 401-K Entry Database</p>
                <p class="card-title text-info">Designed by <b> Bricklayers IT-AK Department</b></p>
                <p>Created for CCU</p>
              </div>
            
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

